{% extends "hospitalapp/doctor_base.html" %}

{% block title %}
Начальная страница
{% endblock %}

{% block style %}
    #page-content {
        filter: blur(5px);
    }
{% endblock %}

{% block content %}
    <div style="text-align: center; vertical-align: middle;">
        <h3>Выберите действие</h3>
    </div>
{% endblock %}

{% block temp-content %}
    <div id="specialization_choose_block" style="position: absolute; top: 70px; left: 50%">
        <div class="jumbotron" style="display: inline-block">
            <h3>Выберите свой профиль</h3>
            <div class="btn-group-lg text-center">
                {% for specialization in specializations %}
                    <button data-specialization_id="{{ specialization.id }}" data-specialization_name="{{ specialization.value }}" class="btn btn-success">{{ specialization.value }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var specialization_name, specialization_id;
        $("#specialization_choose_block").find("button").click(function ()
        {
            specialization_id = $(this).data("specialization_id");
            specialization_name = $(this).data("specialization_name");
            $.ajax({
                url: "/doctor/",
                type: "GET",
                data: {
                    "specialization_id": specialization_id,
                    "specialization_name": specialization_name
                },
                success: function () {
                    $("#page-content").removeAttr("id");
                    $("#specialization_choose_block").remove()
                }
            });
        });
    </script>
{% endblock %}
