<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Прием пациента</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="../../static/css/doctor_interface.css" rel="stylesheet">
    <link href="../../static/css/datepicker.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-right" style="position: relative">
                <div style="border-radius: 50%;vertical-align: middle; display: inline-block; font-size: large; background-color: #1b6d85; color: white; width: 35px; height: 35px; line-height: 35px; text-align: center">
                    ПЕ
                </div>
                <span style="vertical-align: middle; display: inline-block">
                    <h4 style="margin-left: 10px; color: whitesmoke">Петрова Е. А.</h4>
                </span>

                <span class="glyphicon glyphicon-log-out" style="margin-left: 20px; color: whitesmoke"></span>
                <a href="/patient/logout/">
                    <span style="display: inline-block; color: whitesmoke"><h4><b>Выйти</b></h4></span>
                </a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group" style="margin-top: 50px">
                    <a href="{% url 'patient_review' %}" class="list-group-item active">Осмотр пациента</a>
                    <a href="#" class="list-group-item">Просмотр истории посещений пациента</a>
                    <a href="#" class="list-group-item">Запись пациента к специалисту</a>
                </div>
            </div>
            <div class="container">
                <select>
                    <option name="Не выбрано">Не выбрано</option>
                    <option name="Кардиолог">Кардиолог</option>
                    <option name="Ортопед">Ортопед</option>
                </select>
                <input class="datepicker" name="date" style="display: inline-block">
                <div class="dropdown" style="display: inline-block; margin-left: 50px; bottom: -10px; width: max-content">
                    <div class="dropdown-menu" style="display: inline-block; padding: 5px; width: max-content">
                        <div class="btn-group-md" style="margin-top: 5px">
                            <button class="btn btn-primary">21:10</button>
                            <button class="btn btn-basic disabled">21:10</button>
                            <button class="btn btn-default">21:10</button>
                            <button class="btn btn-default">21:10</button>
                        </div>
                        <div class="btn-group-md" style="margin-top: 5px">
                            <button class="btn btn-primary">21:10</button>
                            <button class="btn btn-basic disabled">21:10</button>
                            <button class="btn btn-default">21:10</button>
                            <button class="btn btn-default">21:10</button>
                        </div>
                        <div class="btn-group-md" style="margin-top: 5px">
                            <button class="btn btn-primary">21:10</button>
                            <button class="btn btn-basic disabled">21:10</button>
                            <button class="btn btn-default">21:10</button>
                            <button class="btn btn-default">21:10</button>
                        </div>
                        <div class="btn-group-md" style="margin-top: 5px">
                            <button class="btn btn-primary">21:10</button>
                            <button class="btn btn-basic disabled">21:10</button>
                            <button class="btn btn-default">21:10</button>
                            <button class="btn btn-default">21:10</button>
                        </div>
                        <div class="btn-group-md" style="margin-top: 5px">
                            <button class="btn btn-primary">21:10</button>
                            <button class="btn btn-basic disabled">21:10</button>
                            <button class="btn btn-default">21:10</button>
                            <button class="btn btn-default">21:10</button>
                        </div>
                        <div class="btn-group-md" style="margin-top: 5px">
                            <button class="btn btn-primary">21:10</button>
                            <button class="btn btn-basic disabled">21:10</button>
                            <button class="btn btn-default">21:10</button>
                            <button class="btn btn-default">21:10</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 text-left">
                <h4>
                    Осмотр гастроэнтеролога.
                </h4>
                <hr/>
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="complaints_input"><b>Жалобы:</b></label>
                        <textarea id="complaints_input" class="form-control" name="complaints" rows=5></textarea>
                    </div>
                    <div class="form-group">
                        <label for="anamnesis_input"><b>Анамнез:</b></label>
                        <textarea id="anamnesis_input" class="form-control" name="complaints" rows="3"></textarea>
                    </div>

                    <input type="hidden" name="general_state">
                    <p class="general_state">
                        <b>Общее состояние:</b>
                        <span class="choose_one_state" role="button">Удовлетворительное</span>,
                        <span class="choose_one_state" role="button">cредней тяжести</span>,
                        <span class="choose_one_state" role="button">тяжелое</span>,
                        <span class="choose_one_state" role="button">крайне тяжелое</span>
                    </p>

                    <input type="hidden" name="skin_integument">
                    <p class="skin_integument">
                        <b>Кожные покровы:</b>
                        <span class="choose_several_states" role="button">обычной окраски</span>,
                        <span class="choose_several_states" role="button">чистые</span>,
                        <span class="choose_several_states" role="button">бледные</span>,
                        <span class="choose_several_states" role="button">желтушные</span>,
                        <span class="choose_several_states" role="button">цианотичные</span>,
                        <span class="choose_several_states" role="button">теплые</span>,
                        <span class="choose_several_states" role="button">холодные</span>,
                        <span class="choose_several_states" role="button">влажность повышена</span>,
                        <span class="choose_several_states" role="button">сухие</span>,
                        <span class="choose_several_states" role="button">пигментация</span>,
                        <span class="choose_several_states" role="button">дермографизм</span>,
                        <span class="choose_several_states" role="button">белый</span>,
                        <span class="choose_several_states" role="button">красный</span>,
                        <span class="choose_several_states" role="button">гиперемия</span>,
                        <span class="choose_several_states" role="button">сыпь</span>
                    </p>

                    <div class="form-inline">
                        <label for="localization">Локализация</label>
                        <div class="btn-group">
                            <input class="form-control" id="localization" name="localization">
                        </div>
                    </div>

                    <input type="hidden" name="visible_mucous">
                    <p class="visible_mucous">
                        <b>Видимые слизистые:</b>
                        <span class="choose_several_states" role="button">розовые</span>,
                        <span class="choose_several_states" role="button">бледные</span>,
                        <span class="choose_several_states" role="button">гиперемированные</span>,
                        <span class="choose_several_states" role="button">иктеричные</span>,
                        <span class="choose_several_states" role="button">чистые</span>,
                        <span class="choose_several_states" role="button">сыпь</span>,
                        <span class="input-add">
                            <input type="text" class="visible_mucous-add">
                        </span>
                    </p>

                    <input type="hidden" name="tongue">
                    <p class="tongue">
                        <b>Язык:</b>
                        <span class="choose_several_states" role="button">чистый</span>,
                        <span class="choose_several_states" role="button">влажный</span>,
                        <span class="choose_several_states" role="button">cухой</span>,
                        <span class="input-add-group">
                            обложен
                            <input class="tongue-add">
                            налетом.
                        </span>
                    </p>

                    <input type="hidden" name="stomach">
                    <p class="stomach">
                        <b>Живот при пальпации:</b>
                        <span class="choose_several_states" role="button">мягкий</span>,
                        <span class="choose_several_states" role="button">участвует в акте дыхания</span>,
                        <span class="choose_several_states" role="button">метеоризм</span>,
                        <span class="choose_several_states" role="button">безболезненный</span>
                    </p>

                    <input type="hidden" name="pain_place">
                    <p class="pain_place">
                        <b>Болезненный в:</b>
                        <span class="choose_several_states" role="button">эпигастральной</span>,
                        <span class="choose_several_states" role="button">пилородуоденальной</span>,
                        <span class="choose_several_states" role="button">в правом подреберье</span>,
                        <span class="choose_several_states" role="button">в левом подреберье</span>,
                        <span class="choose_several_states" role="button">оходу толстого кишечника</span>,
                        <span class="choose_several_states" role="button">в правой подвздошной обл.</span>,
                        <span class="choose_several_states" role="button">в левой подвдошной обл.</span>,
                        <span class="choose_several_states" role="button">околопупочной обл.</span>.
                    </p>

                    <input type="hidden" name="liver">
                    <p class="liver">
                        <b>Печень:</b>
                        <span class="choose_several_states" role="button">не увеличена</span>,
                        <span class="choose_several_states" role="button">Край ровный</span>,
                        <span class="input-textarea-add-group">
                            выступает из-по реберной дуги справа на
                            <input class="liver-add">см.
                            <br>
                            <textarea style="margin-top: 5px" class="form-control"></textarea>
                        </span>
                    </p>

                    <input type="hidden" name="spleen">
                    <p class="spleen">
                        <b>Селезенка:</b>
                        <span class="choose_several_states" role="button">не пальпируется</span>,
                        <span class="input-add-group">
                            выступает из-по реберной дуги справа на
                            <input class="spleen-add">см.
                        </span>
                    </p>

                    <input type="hidden" name="chair">
                    <p class="chair">
                        <b>Стул:</b>
                        <span class="choose_several_states" role="button">регулярный</span>,
                        <span class="choose_several_states" role="button">оформленный</span>,
                        <span class="choose_several_states" role="button">учащенный</span>,
                        <span class="choose_several_states" role="button">кашецеобразный</span>.
                        <span class="choose_several_states" role="button">Запор</span>,
                        <span class="input-add-group">
                            cтул через
                            <input class="chair-add">дней.
                        </span>
                        <span class="choose_several_states" role="button">Цвет физиологический</span>,
                        <span class="choose_several_states" role="button">кровь</span>,
                        <span class="choose_several_states" role="button">слизь в стуле</span>.
                    </p>

                    <input type="hidden" name="edema">
                    <p class="edema">
                        <b>Отеки:</b>
                        <span class="choose_several_states" role="button">нет</span>,
                        <span class="choose_several_states" role="button">нижних конечностей</span>,
                        <span class="choose_several_states" role="button">лица</span>,
                        <span class="choose_several_states" role="button">асцит</span>,
                        <span class="choose_several_states" role="button">Запор</span>,
                        <span class="input-add">
                            <input class="edema-add">
                        </span>
                    </p>

                    <br>

                    <input type="hidden" name="examination">
                    <p class="examination">
                        <b>Обследование:</b>
                        <span class="textarea-add-group">
                                ОАК, ОАМ, Б/Х анализ крови, копрограмма, кал на я/глист,
                                кал на дисбактериоз, ПТИ, кровь на HBSAg, HCV, ФГСД + биопсия на HP,
                                УЗИ органов брюшной полости, а/т на HP, R-скопия желудка, RRS, ирригоскопия,
                                колоноскопия, амилаза мочи,
                            <textarea style="margin-top: 5px" class="form-control"></textarea>
                        </span>
                    </p>

                    <br>

                    <div class="form-group">
                        <label for="diagnosis"><b>Диагноз:</b></label>
                        <textarea id="diagnosis" class="form-control" name="complaints" rows=5></textarea>
                    </div>
                    <div class="form-group">
                        <label for="appointment"><b>Назначения:</b></label>
                        <textarea id="appointment" class="form-control" name="complaints" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div style="text-align: center; vertical-align: middle;">
                <h3>Выберите действие слева</h3>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>ГБУ РО &laquo;Поликлиника №14&raquo;</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../static/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/admission_review.js"></script>
    <script src="../../static/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(".datepicker").datepicker({"weekStart": 1});
    </script>
</body>

</html>