<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Специалист не найден в базе</title>
</head>
<body>
<p>
    В системе нет специалиста с таким логином/паролем. Это могло произойти по следующим причинам:
    <ol>
        <li>
            Вы неправильно ввели свой логин/пароль. Попробуйте ещё раз.
        </li>
        <li>
            Вас не успели внести в базу данных специалистов поликлиники. Обратитесь в отдел кадров за разъяснениями.
        </li>
    </ol>
</p>
<form action={{path}}>
    <button type="submit">Понятно</button>
</form>
</body>
</html>