<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
{% if user.is_authenticated %}
<div class="container">
    <div class="row text-center">
        <a href="{% url 'hospitalapp:logout' %}">
            <button class="btn alert-danger">Выйти из системы</button>
        </a>
    </div>
</div>
{% endif %}

<div class="container text-center" style="margin-top: 10%">
    <h2>
        Представьтесь системе
    </h2>
    <div class="div col-md-4 col-md-offset-4 jumbotron">
        <form action="{% url 'hospitalapp:patient_login' %}" method="post" id="login_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" name="login" class="form-control" id="login">
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="btn-group btn-group-lg">
                <input id="submit_btn" type="submit" class="btn btn-sm btn-success" style="color: black">
            </div>
        </form>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="../../static/login.js"></script>-->
</body>
</html>