<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои записи к врачам</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div id="logout" class="container text-right" style="margin-top: 20px">
    <div style="border-radius: 50%; display: inline-block; font-size: large; background-color: #1b6d85; color: white; width: 50px; height: 50px; line-height: 50px; text-align: center">
        {{ patient_info.last_name.0 }}{{ patient_info.first_name.0 }}
    </div><span style="display: inline-block"><h4 style="margin-left: 10px">{{ patient_info.last_name }} {{ patient_info.first_name.0 }}. {{ patient_info.patronymic.0}}.</h4></span>
    <a href="/patient/logout/">
        <span class="glyphicon glyphicon-log-out" style="margin-left: 20px"></span>
        <span style="display: inline-block"><h4><b>Выйти</b></h4></span>
    </a>
</div>

<div class="container text-center" style="margin-top: 2%">
    <h2>Ваши активные записи к врачам</h2>
    <table class="table table-stripped" style="margin-top: 3%">
        <thead>
        <tr>
            <th><h3><b>Специализация врача</b></h3></th>
            <th><h3><b>Фамилия</b></h3></th>
            <th><h3><b>Имя</b></h3></th>
            <th><h3><b>Отчество</b></h3></th>
            <th><h3><b>Дата и время приёма</b></h3></th>
            <th><h3><b>Меню</b></h3></th>
        </tr>
        </thead>
        <tbody style="font-size: 24px">
            {% for appointment in appointments %}
            <tr>
                <td>
                    <b>{{ appointment.doctor_specialization }}</b>
                </td>
                <td>
                    <b>{{ appointment.doctor_last_name }}</b>
                </td>
                <td>
                    <b>{{ appointment.doctor_first_name }}</b>
                </td>
                <td>
                    <b>{{ appointment.doctor_patronymic }}</b>
                </td>
                <td>
                    <b>{{ appointment.appointment_datetime }}</b>
                </td>
                <td>
                    <button name="deleteAppointment" value="{{ appointment.id }}" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-trash"></span>Отменить
                    </button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Подтвердите действие</h3>
        </div>
        <div class="modal-body" style="font-size: large">
          <p>Вы действительно хотите удалить свою запись?</p>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Нет, оставить запись</button>
            </div>
            <div class="form-group col-md-6">
              <form action="/patient/my_appointments/delete/" method="POST">
                  {% csrf_token %}
                  <input name="appointment_id" type="hidden" style="display: inline-block">
                  <input type="submit" class="btn btn-danger btn-lg" value="Да, отменить запись" style="display: inline-block">
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container text-center">
{% if appointments.has_other_pages %}
    <ul class="pagination">
        {% if appoinments.has_previous %}
            <li><a href="?page={{ appointments.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in appointments.paginator.page_range %}
            {% if appointments.number == i %}
                <li class="active"><span>{{i}}<span class="sr-only">(current)</span></span></li>
            {% else %}
                <li ><a href="?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}
        {% if appointments.has_next %}
            <li><a href="?page={{appointments.next_page_number}}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $("button[name='deleteAppointment']").click(function () {
        $("input[name='appointment_id']").attr("value", $(this).attr("value"));
    })
</script>
</body>
</html>