<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор способа авторизации</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div class="container text-center">
        <div class="row" style="margin-top: 10%">
            <h2>Выберите способ входа в систему</h2>
        </div>
        <div class="row">
            <a href="#"><h3 style="display: inline-block">По паспорту и мед. полису</h3></a>
            <a href="#"><h3 style="display: inline-block">По логину и паролю</h3></a>
        </div>
    </div>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>