<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" style="padding: 10px">

        <div class="modal-body" style="font-size: large">
          <p>Желаете распечатать бланк текущего приема?</p>
        </div>
        <div class="modal-footer">
          <div class="row">
           <a href="/doctor/review/"><button class="btn btn-default" id="print_cur_blank_btn">Да</button></a>
           <a href="/doctor/review/"><button class="btn btn-default" id="not_print_cur_blank_btn">Нет</button></a>
          </div>
        </div>
      </div>
    </div>
</div>