{% extends "hospitalapp/doctor_base.html" %}

{% block title %}
Прием терапевта
{% endblock %}

{% block header %}
Прием терапевта
{% endblock %}

{% block patient_search %}
{% include "hospitalapp/review_blank/patient_search.html" %}
{% endblock %}

{% block content %}
    <div>
        <form id="main_form" method="post" style="opacity: 0.5; margin-top: 50px" action="/doctor/review/">
            {% csrf_token %}
            <input type="hidden" name="icd10_id">
            <span class="dispanserization_only" style="display: none">
                <div class="input-group">
                    <input type="hidden" name="dispanserization_stage" disabled>
                    <p class="dispanserization_stage">
                        <b>Этап диспансеризации</b>
                        <span class="choose_one_state" role="button">1</span>,
                        <span class="choose_one_state" role="button">2</span>
                    </p>
                </div>
            </span>

            <div class="form-group">
                <label for="complaints_input"><b>Жалобы:</b></label>
                <textarea id="complaints_input" class="form-control" name="complaints" rows=5></textarea>
            </div>
            <div class="form-group">
                <label for="anamnesis_input"><b>Анамнез:</b></label>
                <textarea id="anamnesis_input" class="form-control" name="anamnesis" rows="3"></textarea>
            </div>

            <div class="input-group">
                <input type="hidden" name="general_state">
                <p class="general_state">
                    <b>Общее состояние:</b>
                    <span class="choose_one_state" role="button">Удовлетворительное</span>,
                    <span class="choose_one_state" role="button">cредней тяжести</span>,
                    <span class="choose_one_state" role="button">тяжелое</span>,
                    <span class="choose_one_state" role="button">крайне тяжелое</span>
                    <span class="choose_one_state" role="button">крайне тяжелое</span>

                </p>
            </div>

            <div style="display: inline-block">
                <label for="body_temperature">Температура тела:</label>
                <input autocomplete="off" id="body_temperature" name="body_temperature">
            </div>



            <div class="input-group" style="display: inline-block">
                <input type="hidden" name="rashes">
                <p class="rashes">
                    <b>Высыпания,образования</b>
                    <span class="choose_one_state" role="button">есть</span>,
                    <span class="choose_one_state" role="button">нет</span>
                </p>
            </div>

            <br/>
            <div style="display: inline-block">
                <label for="height">Рост</label>
                <input type="text" value="" autocomplete="off" placeholder="в см" id="height" name="height">
            </div>
            <div style="display: inline-block">
                <label for="weight">Вес</label>
                <input type="text" autocomplete="off" id="weight" placeholder="в кг" name="weight">
            </div>
            <div style="display: inline-block">
                <label for="bmi">ИМТ</label>
                <input autocomplete="off" name="bmi" id="bmi">
            </div>

            <div class="input-group">
                <input type="hidden" name="humidity">
                <p class="humidity">
                    <b>Влажность:</b>
                    <span class="choose_several_states" role="button">нормальная</span>,
                    <span class="choose_several_states" role="button">повышенная</span>,
                    <span class="choose_several_states" role="button">пониженная</span>
                </p>
            </div>

            <div class="input-group" style="display: inline-block">
                <input type="hidden" name="peripheral_lymph_nodes">
                <p class="peripheral_lymph_nodes">
                    <b>Периферические лимфоузлы:</b>
                    <span class="choose_several_states" role="button">не увеличены</span>,
                    <span class="choose_several_states" role="button">увеличены</span>,
                    <input autocomplete="off">
                </p>
            </div>

            <div class="form-group">
                <label for="pastosity"><b>Пастозность:</b></label>
                <input id="pastosity" class="form-control" name="pastosity">
            </div>

            <div class="input-group" style="display: inline-block">
                <input type="hidden" name="nose_breath">
                <p class="nose_breath">
                    <b>Дыхание через нос:</b>
                    <span class="choose_one_state" role="button">свободно</span>,
                    <span class="choose_one_state" role="button">затруднено</span>
                </p>
            </div>

            <div class="form-group" style="display: inline-block">
                <label for="respiratory_rate">ЧДД в мин.</label>
                <input id="respiratory_rate" name="respiratory_rate">
            </div>

            <div class="input-group" style="display: inline-block">
                <input type="hidden" name="lungs_breathe">
                <p class="lungs_breathe">
                    <b>Дыхание в лёгких:</b>
                    <span class="choose_several_states" role="button">везикулярное</span>,
                    <span class="choose_several_states" role="button">проводится над всеми отделами легких</span>,
                    <span class="choose_several_states" role="button">ослабление дыхания</span>,
                    <span class="choose_several_states" role="button">жесткое</span>,
                    <input autocomplete="off">
                </p>
            </div>

            <div class="input-group">
                <input type="hidden" name="wheezing">
                <p class="wheezing">
                    <b>Хрипы:</b>
                    <span class="choose_several_states" role="button">есть</span>,
                    <span class="choose_several_states" role="button">нет</span>,
                    <span class="choose_several_states" role="button">сухие</span>,
                    <span class="group">
                        <span>влажные в</span>
                        <input autocomplete="off">
                    </span>
                </p>
            </div>

            <div class="input-group">
                <input type="hidden" name="heart_tones">
                <p class="heart_tones">
                    <b>Тоны сердца:</b>
                    <span class="choose_several_states" role="button">ясные</span>,
                    <span class="choose_several_states" role="button">приглушенные</span>,
                    <span class="choose_several_states" role="button">ритмичные</span>,
                    <span class="choose_several_states" role="button">аритмичные</span>,
                    <span class="group">
                        <span>акцент тона на</span>
                        <input autocomplete="off">
                    </span>
                </p>
            </div>

            <div class="input-group" style="display: inline-block">
                <input type="hidden" name="heart_noise">
                <p class="heart_noise">
                    <b>Шум:</b>
                    <span class="choose_one_state" role="button">ситстолический</span>,
                    <span class="group">
                        <span>диастолический на</span>
                        <input autocomplete="off">
                    </span>
                </p>
            </div>

            <div class="form-group" style="display: inline-block">
                <label for="heart_rate">ЧСС:</label>
                <input id="heart_rate" name="heart_rate" autocomplete="off">
            </div>

            <br/>

            <div class="input-group" style="display: inline-block">
                <input type="hidden" name="pressure">
                <p class="pressure">
                    <b>АД:</b>
                    <span class="group">
                        <input autocomplete="off">
                        <span>мм рт. ст.</span>
                    </span>
                </p>
            </div>

            <div class="input-group" style="display: inline-block">
                <input type="hidden" name="tongue">
                <p class="tongue">
                    <b>Язык:</b>
                    <span class="choose_several_states" role="button">чистый</span>,
                    <span class="choose_several_states" role="button">влажный</span>,
                    <span class="choose_several_states" role="button">cухой</span>,
                    <span class="group">
                        <span>обложен</span>
                        <input autocomplete="off">
                        <span>налетом.</span>
                    </span>
                </p>
            </div>

            <div class="form-group">
                <label for="yawn">Зев:</label>
                <input id="yawn" name="yawn" autocomplete="off">
            </div>

            <div class="input-group">
                <input type="hidden" name="stomach">
                <p class="stomach">
                    <b>Живот:</b>
                    <span class="choose_several_states" role="button">мягкий</span>,
                    <span class="choose_several_states" role="button">напряженный</span>,
                    <span class="choose_several_states" role="button">безболезненный</span>,
                    <span class="group">
                        <span>болезненный в</span>
                        <input autocomplete="off">
                    </span>
                </p>
            </div>

            <div class="input-group">
                <input type="hidden" name="liver">
                <p class="liver">
                    <b>Печень:</b>
                    <span class="choose_several_states" role="button">не увеличена</span>,
                    <span class="choose_several_states" role="button">Край ровный</span>,
                    <span class="group">
                        <span>выступает из-по реберной дуги справа на</span>
                        <input class="liver-add">
                        <span>см.</span>
                    </span>
                </p>
            </div>

            <div class="input-group">
                <input type="hidden" name="spleen">
                <p class="spleen">
                    <b>Селезенка:</b>
                    <span class="choose_several_states" role="button">не пальпируется</span>,
                    <span class="group">
                        <span>выступает из-по реберной дуги справа на</span>
                        <input class="spleen-add">
                        <span>см.</span>
                    </span>
                </p>
            </div>

            <div class="input-group">
                <input type="hidden" name="amygdala">
                <p class="amygdala">
                    <b>Лимфоузлы:</b>
                    <span role="button" class="choose_one_state">не увеличены</span>,
                    <span role="button" class="choose_one_state">гипертрофированы</span>,
                    <span role="button" class="choose_one_state">гиперемированы</span>
                </p>
            </div>

            <div class="input-group">
                <input type="hidden" name="urination">
                <p class="urination">
                    <b>Мочеиспускание:</b>
                    <span role="button" class="choose_several_states">нарушено</span>,
                    <span role="button" class="choose_several_states">диурез адекватный</span>,
                    <span role="button" class="choose_several_states">снижен</span>,
                    <span role="button" class="choose_several_states">анурия</span>,
                    <span role="button" class="choose_several_states">полиурия</span>
                </p>
            </div>

            <div class="input-group">
                <input type="hidden" name="chair">
                <p class="chair">
                    <b>Стул:</b>
                    <span role="button" class="choose_several_states">ежедневный</span>,
                    <span role="button" class="choose_several_states">запоры</span>,
                    <span role="button" class="choose_several_states">оформленный</span>,
                    <span role="button" class="choose_several_states">неоформленный</span>
                </p>
            </div>

            <div class="input-group">
                <input type="hidden" name="joints_movement">
                <p class="joints_movement">
                    <b>Движение в суставах:</b>
                    <span role="button" class="choose_one_state">не ограничено</span>,
                    <span role="button" class="choose_one_state">ограничено</span>,
                </p>
            </div>


            <div class="form-group">
                <label for="additional_details">Прочие детали осмотра</label>
                <textarea id="additional_details" name="additional_details" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group" style="display: inline-block">
                <label for="icd10_input" style="display: inline-block">Диагноз (по МКБ-10)</label>
                <input autocomplete="off" class="form-control" id="icd10_input" style="display: inline-block">
            </div>
            <span class="dispanserization_only" style="display: none">
                <div class="input-group" style="display: inline-block">
                    <input type="hidden" name="health_group" disabled>
                    <p class="health_group">
                        <b>Группа здоровья:</b>
                        <span role="button" class="choose_one_state">1</span>,
                        <span role="button" class="choose_one_state">2</span>,
                        <span role="button" class="choose_one_state">3</span>
                    </p>
                </div>
            </span>
            <div class="dropdown">
                <ul class="dropdown-menu" style="display: none" id="icd10_search_results">

                </ul>
            </div>
            <span class="review_only" style="display: none">
                <div class="input-group">
                    <input type="hidden" name="assigned_analyzes" disabled>
                    <p class="assigned_analyzes">
                        <b>Обследование:</b>
                        <span class="choose_several_states" role="button">общий анализ крови</span>,
                        <span class="choose_several_states" role="button">RW</span>,
                        <span class="choose_several_states" role="button">кровь на HBs</span>,
                        <span class="choose_several_states" role="button">кровь на HCV</span>,
                        <span class="choose_several_states" role="button">кровь на ВИЧ</span>,
                        <span class="choose_several_states" role="button">биохимический анализ крови</span>,
                        <span class="choose_several_states" role="button">сахар</span>,
                        <span class="choose_several_states" role="button">билирубин</span>,
                        <span class="choose_several_states" role="button">АСТ</span>,
                        <span class="choose_several_states" role="button">АЛТ</span>,
                        <span class="choose_several_states" role="button">амилаза</span>,
                        <span class="choose_several_states" role="button">холестерин</span>,
                        <span class="choose_several_states" role="button">триглицериды</span>,
                        <span class="choose_several_states" role="button">креатинин</span>,
                        <span class="choose_several_states" role="button">мочевая кислота</span>,
                        <span class="choose_several_states" role="button">общий белок</span>,
                        <span class="choose_several_states" role="button">мочевина</span>,
                        <span class="choose_several_states" role="button">СРБ</span>,
                        <span class="choose_several_states" role="button">общий белок</span>,
                        <input class="form-control">
                    </p>
                </div>
            </span>
        <span class="dispanserization_only" style="display: none">
            <div class="input-group">
                <input type="hidden" name="assigned_analyzes" disabled>
                <p class="assigned_analyzes">
                    <b>Обследование:</b>
                    <span id="first_stage_procedures" class="first_stage_only">

                        <input class="form-control">
                    </span>
                </p>
            </div>
        </span>


            <span class="review_only" style="display: none">
                <div class="input-group">
                    <input disabled type="hidden" name="consultation">
                    <p class="consultation">
                        <b>Консультация:</b>
                        {% for specialization in specializations %}
                            <span class="choose_several_states" role="button">{{specialization.specialization_name}}</span>
                        {% endfor %}
                        <input class="form-control">
                    </p>
                </div>
            </span>

            <span class="dispanserization_only" style="display: none">
                <div class="input-group">
                    <input type="hidden" name="consultation" disabled>
                    <b>Консультация:</b>
                    <p class="consultation">
                        <span class="first_stage_only">
                            <span id="first_stage_specializations">

                            </span>
                            <input class="form-control">
                        </span>
                    </p>
                </div>
            </span>


            <div class="form-group">
                <label for="medical_therapy">Медикаментозная терапия, выписанные рецепты:</label>
                <textarea id="medical_therapy" class="form-control" name="medical_therapy"></textarea>
            </div>

            <span class="dispanserization_only" style="display: none">
                <div class="input-group">
                    <input disabled name="preventive_counseling" type="hidden">
                    <p class="preventive_counseling">
                        <b>Профилактическое консультирование индивидуальное:</b>
                        <span role="button" class="choose_one_state">проведено</span>,
                        <span role="button" class="choose_one_state">не проведено</span>
                    </p>
                </div>
                <div class="input-group">
                    <input disabled name="recommendations" type="hidden">
                    <p class="recommendations">
                        <b>Рекомендации:</b>
                        <span role="button" class="choose_several_states">диета</span>,
                        <span role="button" class="choose_several_states">амбулаторное лечение</span>,
                        <textarea class="form-control" rows="3" disabled></textarea>
                    </p>
                </div>

                <div class="input-group">
                    <input disabled name="spa_treatment" type="hidden">
                    <p class="spa_treatment">
                        <b>Санаторно-курортное лечение:</b>
                        <span role="button" class="choose_one_state">рекомендовано</span>,
                        <span role="button" class="choose_one_state">не рекомендовано</span>,
                        <span role="button" class="choose_one_state">противопоказано</span>
                    </p>
                </div>

                <div class="input-group">
                    <input disabled name="dispansery_status" type="hidden">
                    <p class="dispansery_status">
                        <b>Диспансерное наблюдение:</b>
                        {% for dispansery_status in dispansery_statuses %}
                            <span role="button" class="choose_one_state">{{dispansery_status.name}}</span>,
                        {% endfor %}
                    </p>
                </div>

                <div class="input-group">
                    <input disabled type="hidden" name="cardiovascular_risk">
                    <p class="cardiovascular_risk">
                        <b>Суммарный сердечно-сосудистый риск:</b>
                        <span role="button" class="choose_one_state">низкий</span>,
                        <span role="button" class="choose_one_state">средний</span>,
                        <span role="button" class="choose_one_state">высокий</span>
                        <span role="button" class="choose_one_state">очень высокий</span>
                    </p>
                </div>

                <div class="form-group">
                    <label for="dispanserization_finished_chbx">Диспансеризация пройдена</label>
                    <input autocomplete="off" id="dispanserization_finished_chbx" name="dispanserization_finished" type="checkbox">
                </div>
            </span>

            <span class="review_only">
                <div class="form-group">
                    <label for="therapy_finished_chbx">Лечение завершено</label>
                    <input autocomplete="off" id="therapy_finished_chbx" name="therapy_finished" type="checkbox">
                </div>
            </span>
            <input type="submit" class="btn btn-success" disabled value="Подтвердить">
        </form>
    </div>
    {% endblock %}

    {% block modal %}
        {% include "hospitalapp/review_blank/admission_modal.html" %}
    {% endblock %}

{% block script %}
    <script src="/static/js/patient_search_from_review.js"></script>
{% endblock %}
