{% extends "hospitalapp/review_blank/doctor_base.html" %}

{% block title %}
Бланк приема
{% endblock %}

{% block header %}
Бланк осмотра терапевта
{% endblock %}

{% block content %}
<div>
    <div style="margin-bottom: 50px; margin-top: 30px">
        <b>Дата и время приема</b>: {{admission_datetime}}
        <b>ФИО</b>: {{patient.last_name}} {{patient.first_name}} {{patient.patronymic}}
    </div>
    <b>Жалобы:</b><p>{{complaints}}</p>
    <b>Анамнез:</b><p>{{anamnesis}}</p>
    <b>Общее состояние</b><p>{{general_state}}</p>
    <b>Температура тела:</b><p>{{body_temperature}}</p>
    <b>Рост:</b><p>{{height}}</p>
    <b>Вес:</b><p>{{weight}}</p>
    <b>Высыпания, образования:</b><p>{{rashes}}</p>
    <b>Влажность:</b><p>{{humidity}}</p>
    <b>Периферические лимфоузлы</b><p>{{peripheral_lymph_nodes}}</p>
    <b>Пастозность:</b><p>{{pastosity}}</p>
    <b>Дыхание через нос:</b><p>{{nose_breath}}</p>
    <b>ЧДД в мин:</b><p>{{respiratory_rate}}</p>
    <b>Дыхание в легких:</b><p>{{lungs_breathe}}</p>
    <b>Хрипы:</b><p>{{wheezing}}</p>
    <b>Тоны сердца:</b><p>{{heart_tones}}</p>
    <b>Шумы сердца:</b><p>{{heart_noise}}</p>
    <b>ЧСС:</b><p>{{heart_rate}}</p>
    <b>АД:</b><p>{{pressure}}</p>
    <b>Язык:</b><p>{{tongue}}</p>
    <b>Зев:</b><p>{{yawn}}</p>
    <b>Живот:</b><p>{{stomach}}</p>
    <b>Печень:</b><p>{{liver}}</p>
    <b>Селезенка:</b><p>{{spleen}}</p>
    <b>Лимфоузлы:</b><p>{{amygdala}}</p>
    <b>Мочеиспускание:</b><p>{{urination}}</p>
    <b>Стул:</b><p>{{chair}}</p>
    <b>Движение в суставах:</b><p>{{joints_movement}}</p>
    <b>МКБ-10:</b><p>{{icd10_value}}</p>
    <b>Обследование:</b><p>{{assigned_analyzes}}</p>
    <b>Инструментальные обследования</b><p>{{instrumental_examinations}}</p>
    <b>Консультация:</b><p>{{consultation}}</p>
    <b>Медикаментозная терапия, выписанные рецепты</b><p>{{medical_therapy}}</p>
    <b>Лечение завершено</b><p>{{therapy_finished}}</p>
</div>
{% endblock %}